window.AppConfig = {
  API_URL: '{{ platform_react_url_backend }}',
  API_TIMEOUT_MS: 4000,
  LIVE_STREAMING_MEDIA_URL: '{{ platform_react_url_livestream }}',
  LIVE_STREAMING_TIMEOUT_SECONDS: 30,
  CAMERAS_INACTIVITY_THRESHOLD_MINUTES: 30,
  CAMERAS_LIST_REFRESH_INTERVAL_MINUTES: 2,
  ALERTS_LIST_REFRESH_INTERVAL_SECONDS: 30,
  ALERTS_PLAYER_INTERVAL_MILLISECONDS: 500,
  ALERTS_PLAYER_CONFIDENCE_THRESHOLD: 0.15,
  ALERTS_SOUND_FILE: 'notification-alert.mp3',
  ALERTS_CAMERA_RANGE_KM: 30,
  HISTORY_NB_ALERTS_PER_PAGE: 15,
};
