.vault_passwrd
roles/infothrill.rpi_boot_config
roles/pyronear.openvpn
init_script/.env
*__pycache__*
*.pem
.vscode
init_script/cameras.csv
inventory/inventory
inventory/host_vars/
inventory/group_vars/all/vault
inventory/group_vars/engine_servers/vault
.ansible/
.env
.vault_passwrd*
