.vault_passwrd
roles/infothrill.rpi_boot_config
roles/pyronear.openvpn
init_script/.env
*__pycache__*
*.pem
.vscode
init_script/cameras.csv
init_script/venv
venv/
host_vars/
inventory/inventory
inventory/hosts_*
group_vars
!group_vars/template
id_rsa
.ansible/
.env
.vault_passwrd*
*.iml
*.dump