all:
  hosts:


  vars:
    prefix: "PREFIX"
    openvpn_server_host: "HOST_OPENVPN"
    ca_password: !vault |
          ANSIBLE_VAULT

  children:
    engine_servers_test:
      hosts:


    engine_servers_prod:
      hosts: {}

    alert_server:
      hosts:

    platform_server:
      hosts:

    openvpn:
      hosts:

    engine_servers:
      children:
        engine_servers_test:
        engine_servers_prod:
