all:
  hosts:
  children:
    engine_servers:
      hosts:

    alert_server:
      hosts:

    platform_py_server:
      hosts:

    platform_react_server:
      hosts:

    openvpn:
      hosts:

    annotation_server:
      hosts:

    mediamtx_server:
      hosts:

    pi_zero:
      hosts:
