[http]
    [http.routers]
        [http.routers.assets]
            rule = "Host(`{{ alert_api_s3_proxy_url }}`)"
            service = "assets"
            entryPoints = ["websecure"]
            [http.routers.assets.tls]
                certResolver = "pyroresolver"

{% if not alert_api_rustfs %}
        [http.routers.root]
            rule = "Host(`{{ alert_api_s3_proxy_url }}`) && Path(`/`)"
            service = "noop@internal"
            entryPoints = ["websecure"]
            middlewares = ["staticok"]
            [http.routers.root.tls]
                certResolver = "pyroresolver"
{% endif %}

    [http.services]
        [http.services.assets]
            [http.services.assets.loadBalancer]
                passHostHeader = true
                [[http.services.assets.loadBalancer.servers]]
                    url = "{{ 'http://rustfs:9000' if alert_api_rustfs else alert_api_s3_url }}"
    [http.middlewares]
      [http.middlewares.staticok.plugin.staticresponse]
        statusCode = 200
        body = "OK"