[Unit]
Description=Reverse SSH to a remote server
After=network.target

[Service]
User=pi
ExecStart=/usr/bin/ssh -o "ExitOnForwardFailure=yes" -N -R {{ reverse_ssh_port }}:localhost:22 ubuntu@{{ hostvars['reverse_ssh_server']['ansible_host'] }}
Restart=always
RestartSec=30
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
