services:
  pyro_engine:
    container_name: engine
    image: 'pyronear/pyro-engine:{{pyronear_version}}'
    network_mode: host
    environment:
    - API_URL=${API_URL}
    - CAM_USER=${CAM_USER}
    - CAM_PWD=${CAM_PWD}
    - MEDIAMTX_SERVER_IP=${MEDIAMTX_SERVER_IP}
    command: >
      sh -c '
        python run.py 2>&1 | tee -a engine.log
      '
    volumes:
      - ./data:/usr/src/app/data
    restart: always
    logging:
      driver: json-file
      options:
        max-size: 100m
        max-file: '5'
    healthcheck:
      test: ["CMD-SHELL", "grep 'confidence' engine.log || exit 1"]
      interval: 30s
      retries: 3
      start_period: 10s
      timeout: 5s
  reolink_api:
    image: 'pyronear/reolink-api:{{pyronear_version}}'
    container_name: reolink-api
    environment:
      - CAM_USER=${CAM_USER}
      - CAM_PWD=${CAM_PWD}
      - MEDIAMTX_SERVER_IP=${MEDIAMTX_SERVER_IP}
    volumes:
      - ./data:/usr/src/app/data
    command: "uvicorn main:app --reload --host 0.0.0.0 --port 8081"
    restart: always
    network_mode: host
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "5"
